@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary_1: #000;
    --primary_2: #ec5242;
    --primary_3: #78829b;
    --primary_4: #2e323b;
    --secondary_1: #fff;
    --secondary_2: #ece9e9;
    --secondary_3: #d1cfcf;
    
    }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-menu-general {
  display: none;
}

.header-menu {
  display: none;
}

.sidebar {
  display: none;
}

#about-handburger {
  padding-top: 6%;
  margin: 0 1em;
}

.handburger {
  content: "\f0c9";
  font-size: 40px;
  color: var(--primary_4);
}

.menu1 {
  margin-top: 30px;
  margin-right: 10px;
}

.menuPopUp a {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 3rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
}

.about-first-section {
  background-color: #cac6c6;
  margin-bottom: 50px;
}

#about-first-section {
  margin-right: 1em;
  margin-left: 1em;
  background-image: url('./images/bg-decorator-1.png'), url('./images/bg-decorator-2.png'), url('images/bg-decorator-3.png'), url('./images/bg-decorator-4.png');
  background-repeat: no-repeat;
  background-size: 20%, 24%, 10%, 10%;
  background-position: 0 10%, 90% 100%, 80% 50%, 90% 20%;
}

.first-section-background {
  background-color: var(--secondary_1);
  opacity: 0.8;
}

.about-mobile-first-section h1 {
  font-family: 'Lato', sans-serif;
  color: var(--primary_2);
  font-size: 32px;
  padding-top: 6%;
  width: 100%;
  text-align: center;
}

.about-mobile-first-section h2 {
  text-align: center;
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 43px;
  width: 100%;
  /* background-image: url(./images/font.jpg); */
  color: #f5220a;;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-background-clip: text; */
  /* color: transparent; */
}

.about-mobile-first-section p {
  margin-top: 15%;
  background-color: var(--secondary_1);
  border: 2px solid #d3d3d3;
  color: var(--primary_4);
  padding: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}

.about-second-section h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  padding-bottom: 1%;
}

.about-mobile-first-section h3 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: var(--primary_4);
  margin-top: 5%;
}

.about-mobile-first-section h4 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--primary_4);
  margin-top: 2%;
  padding-bottom: 10%;
}

.about-second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-second-section hr {
  border-bottom: 6px solid var(--primary_2);
  width: 5%;
}

.about-second-section p {
  color: #797474;
  padding-top: 1%;
}

.about-second-section .line3 {
  width: 100%;
  color: var(--primary_4);
  height: 20px;
}

.logo2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  justify-content: center;
  border: 1px solid #cac6c6;
  padding: 25px 27%;
  margin: 3% 0;
  text-align: center;
}

.about-third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--secondary_1);
}

.about-third-section h2 {
  justify-content: center;
  align-self: center;
  padding-top: 5%;
  border-top: 2px solid #808080;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.about-third-section h2::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.about-third-section p {
  justify-content: center;
  padding-top: 1em;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.techrunch-1 {
  position: relative;
  margin: 5% auto;
  width: 20rem;
  height: 12rem;
}

.techrunch-1 img {
  width: 100%;
  height: 100%;
}

.techrunch-1::before {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(255, 0, 0, 0.477);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.techrunch-1 span {
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 30px;
}

.center-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--secondary_1);
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners {
  background-color: #948f8f;
}

.partners h2 {
  text-align: center;
  padding-top: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.partners h2::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.partners-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.partners-logo img {
  width: 20%;
}

.mobile-about-footer {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-about-footer img {
  width: 30%;
}

.mobile-about-footer a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
  }

  .mobile-about-footer a i {
    color: #ec5242;
    /* content: "\f41a"; */
  }

  .mobile-about-footer a span {
    color: #2e323b;
  }

@media all and (min-width: 768px) {

    #about-handburger {
        display: none;
      }

      .header-menu-general {
        display: flex;
      }

      .header-menu {
        display: flex;
        width: 100%;
        justify-content: right;
        background-color: #2e323b;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
  
      .header-menu a {
        text-decoration: none;
        color: #fff;
        margin-right: 40px;
        font-family: 'Lato', sans-serif;
      }

      .desktop-menu {
        display: flex;
        width: 100%;
        justify-content: right;
        background-color: #fff;
        margin-top: 80px;
        margin-bottom: 40px;
        margin-left: 50px;
        padding-right: 100px;
      }
      
      .desktop-menu a {
        text-decoration: none;
        margin-right: 40px;
        color: #2e323b;
        font-family: 'Lato', sans-serif;
      }
  
      .desktop-menu .os-logo {
        margin-right: 450px;
        font-size: large;
        font-weight: bolder;
      }
  
      .desktop-menu .fab {
        color: #ec5242;
        font-size: large;
        font-weight: bolder;
        /* margin-left: 100px; */
      }
  
      .desktop-menu .about {
        color: #ec5242;
      }
  
      .desktop-menu .OS-campaign {
        color: #ec5242;
        border: solid 3px #ec5242;
        padding: 7px;
      }
    
      nav {
        position: fixed;
        width: 100%;
        overflow: hidden;
        top: 0;
        z-index: 600;
      }
    
      .mobile-aboutpage-first-nav {
        background-color: #555151;
        display: flex;
        justify-content: flex-end;
        padding: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
      }
    
      .mobile-aboutpage-first-nav a {
        color: #fff;
        text-decoration: none;
        padding-right: 15px;
        margin-right: 4%;
      }
    
      .mobile-aboutpage-second-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 800;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: rgb(210, 218, 194);
        border-bottom: 3px solid #555151;
        padding-right: 20%;
        padding-left: 20%;
      }
    
      .mobile-aboutpage-second-nav a {
        text-decoration: none;
        color: #000;
        padding-right: 20px;
      }
    
      .mobile-aboutpage-second-nav a img {
        width: 40%;
        flex-shrink: 0;
      }
    
      .mobile-aboutpage-second-nav a#webdev {
        border: 2px solid red;
        padding: 8px;
      }
    
      .mobile-aboutpage-second-nav a#about {
        color: red;
      }
    
      #about-first-page {
        padding-top: 60px;
      }
    
      .first-section-background {
        background-color: #f3ebeb;
      }
    
      .about-mobile-first-section h1 {
        font-size: 40px;
      }
    
      .about-mobile-first-section h2 {
          color: #f5220a;
        font-size: 70px;
      }
    
      .about-mobile-first-section h2::after {
        content: "";
        background-color: #ec5242;
        display: block;
        margin: 0 auto;
        width: 1.3em;
        height: 2px;
        border-radius: 0.5px;
        margin-top: 0.5em;
      }
    
      .about-mobile-first-section p {
        margin: 5% auto;
        background-color: #fff;
        border: 2px solid #d3d3d3;
        color: #2e323b;
        padding: 50px;
        line-height: 25px;
        width: 60%;
      }
    
      .about-mobile-first-section h3 {
        font-size: 25px;
        text-align: center;
      }
    
      .about-mobile-first-section h4 {
        font-size: 18px;
        color: #202125;
      }
    
      .about-second-section {
        padding-top: 40px;
      }
    
      .about-second-section h3::after {
        content: "";
        background-color: #ec5242;
        display: block;
        margin: 0 auto;
        width: 1.5em;
        height: 2px;
        border-radius: 0.5px;
        margin-top: 0.5em;
      }
    
      .logo-2 {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 40px;
        justify-content: center;
        border: 1px solid #cac6c6;
        padding: 25px 10%;
        margin: 3% 0;
        text-align: center;
      }
    
     .previous-event {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-left: 350px;
      }
    
      .partners {
        display: none;
      }
    
      .mobile-about-footer {
        background-color: #dfd6d5;
      }
    .mobile-about-footer a {
        text-decoration: none;
        font-size: 50px;
        font-weight: bolder;
        margin-left: 20px;
      }

      .mobile-about-footer a i {
        color: #ec5242;
      }

      .mobile-about-footer a span {
        color: #2e323b;
      }
}